<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnStringName" value="BOSDbContext"/>
    <add key="SqlConfigPath" value=""/>
  </appSettings>
  <connectionStrings>
    <!--颍淮农商银行-->
    <add name="mysql_fyyh_web" connectionString="Server =172.17.22.91; Database =fyyh_web; Uid =Finance_DEV; Pwd =Finance_DEVDEV;Pooling=true; Max Pool Size=20;Min Pool Size=10;Allow Batch=true;  Allow User Variables=True;Charset=utf8" providerName="MySql.Data.MySqlClient"/>

    <!--中信银行-->
    <add name="sqlserver_CiticZX_Financing" connectionString="server=172.17.22.18,1435;database=CiticZX_Finance;uid=Finance_DEV;pwd=Finance_DEVDEV;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <enyim.com>
    <memcached>
      <servers>
        <!-- 开发环境缓存配置   address:172.16.8.8  keySuffix:Web_Dev_ -->
        <!-- 测试环境缓存配置   address:172.16.8.8  keySuffix:Web_Test_ -->
        <!-- 准正式环境缓存配置 address:172.16.8.8  keySuffix:Web_Pre_ -->
        <!-- 正式环境缓存配置   address:172.16.8.9  keySuffix:Web_Pre_ -->
        <add address="172.16.8.8" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>

  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="Web_Dev_13_26" defaultExpireTime="1800000"></add>
    </providers>
  </cacheProvider>
</configuration>